# Development Settings
NODE_ENV=production                              # development | production
PORT=3000                                       # server port
DATABASE_URL="file:./dev.db"                     # database location
